body{
    background-color:lightgray;
}
a{
text-decoration:none ;
border-radius: 1px solid blue;
}
.fa{
    color:skyblue;
}
.box-center{
    background-color: whitesmoke;
    padding:25px 10px ;
    margin:25px 0px;
}
.text{
    margin:15px 0px ;
}
.box{
   padding: 60px 0px; 
}